---
---
<!DOCTYPE html>
<head>
    <meta name="viewport" 
    content="width=device-width, 
    initial-scale=1.0">    
    <link rel="stylesheet" href="style/stile.css">
</head>
<body>
{% include header.html %}

    <main>        
        <p>Le migliori poesie di Trilussa</p>
        <ul>
        <a href="trilussa-el-leone-riconoscente.html">El leone riconoscente</a><br>
        <a href="ninna-nanna-della-guerra.html">Ninna nanna della guerra</a><br>
        </ul>
    </main>
<br><br>
{% include footer.html %}
