---
---
<!DOCTYPE html>
<html lang="it">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/stile.css">
</head>
<body>
    {% include header.html %}
    <div>
        <h1>Ninna nanna della guerra</h1>
        <h2>con inserimento del viewport</h2>
    </div>
<pre>
Ninna nanna, nanna ninna,
er pupetto vò la zinna:
dormi, dormi, cocco bello,
sennò chiamo Farfarello
Farfarello e Gujermone
che se mette a pecorone,
Gujermone e Ceccopeppe
che se regge co le zeppe,
co le zeppe d'un impero
mezzo giallo e mezzo nero.

Ninna nanna, pija sonno
ché se dormi nun vedrai
tante infamie e tanti guai
che succedeno ner monno
fra le spade e li fucili
de li popoli civili

Ninna nanna, tu nun senti
li sospiri e li lamenti
de la gente che se scanna
per un matto che commanna;
che se scanna e che s'ammazza
a vantaggio de la razza
o a vantaggio d'una fede
per un Dio che nun se vede,
ma che serve da riparo
ar Sovrano macellaro.

Chè quer covo d'assassini
che c'insanguina la terra
sa benone che la guerra
è un gran giro de quatrini
che prepara le risorse
pe li ladri de le Borse.

Fa la ninna, cocco bello,
finchè dura sto macello:
fa la ninna, chè domani
rivedremo li sovrani
che se scambieno la stima
boni amichi come prima.
So cuggini e fra parenti
nun se fanno comprimenti:
torneranno più cordiali
li rapporti personali.

E riuniti fra de loro
senza l'ombra d'un rimorso,
ce faranno un ber discorso
su la Pace e sul Lavoro
pe quer popolo cojone
risparmiato dar cannone!»
</pre>
{% include footer.html %}
</body>
</html>